---
Title: Cake.Terraform
NoSidebar: true
NoContainer: false
NoGutter: true
---

<div class="container">
    <h1>What is it?</h1>
    <p>
        Cake.Terraform is an Addin for <a href="http://cakebuild.net/">Cake</a> which which allows the execution of the <a href="https://www.terraform.io">Terraform</a> command line tool.
    </p>
</div>
